body{
	background-color: black;
	overflow-x: hidden;
	font-family: arial;
     animation-name: fade;
 animation-duration: 2s; 
}

@keyframes fade{
    from{opacity: 0}
    to{opacity: 1}
}

#nav{
	width: 10%;
    background-color: black;
	position: fixed;
	top: 4%;
	height: 10%;
	display: inline-block;
    left: 10%;
	z-index: 1;
    animation-name: navap;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes navap{
    0%{display: inline-block;}
    50%{display: inline-block;opacity: 0.2}
    100%{display: inline-block; opacity: 0.8}
}
#nav ul{
	position: absolute;
	top: 20%;
	left: 1%;	
}
#nav ul li{
	display: inline;
	color: white;
	font-size: 1.5vw;
	width: auto;
	margin-right: 100px;
	font-weight: bold;
    padding: 10px;
    transition: background-color 1s;
}
#nav ul li:hover{
	background-color: grey;
}
#nav ul li a{
	text-decoration: none;
	color: white;
    outline: none;
}


.photos-container img{
	position: absolute;
	top: 23%;
	left: 6%;
	border: 8px solid white;
	border-bottom-width: 20px;  
}

@keyframes imga1{
    0%{position: absolute;left: 0%}
    100%{position: absolute;left: 6%}
}

@keyframes imga2{
    0%{display: none; border: none;}
    100%{display: block; border: 8px solid white; border-bottom-width: 20px;}
}

@keyframes imga3{
    0%{position: absolute; left: 0%;}
    50%{position: absolute; left: 40%;}
    100%{position: absolute; left: 76%;}
}

.photos-container img:nth-of-type(1) {
    width: 22%;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    animation-name: imga1;
    animation-duration: 2s;
}
 
.photos-container img:nth-of-type(2) {
    width: 20%;
    top: 60%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    animation-name: imga1;
    animation-duration: 2s;
}
 
.photos-container img:nth-of-type(3) {
    width: 20%;
    top: 85%;
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    animation-name: imga1;
    animation-duration: 2s;
}
 
.photos-container img:nth-of-type(4) {
    left: 25%;
    width: 18%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    animation-name: imga2;
    animation-duration: 2s;
}
 
.photos-container img:nth-of-type(5) {
    left: 26%;
    width: 15%;
    top: 50%;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    animation-name: imga2;
    animation-duration: 2s;
}

.photos-container img:nth-of-type(6) {
    left: 26%;
    width: 15%;
    top: 75%;
    height: 30%;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    animation-name: imga2;
    animation-duration: 2s;
}
.photos-container img:nth-of-type(7) {
    left: 42%;
    width: 15%;
    height: 40%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    animation-name: imga2;
    animation-duration: 2s;
}
.photos-container img:nth-of-type(8) {
    left: 42%;
    width: 15%;
    top: 63%;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    animation-name: imga2;
    animation-duration: 2s;
}
.photos-container img:nth-of-type(9) {
    left: 42%;
    width: 15%;
    top: 84%;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    animation-name: imga2;
    animation-duration: 2s;
}
.photos-container img:nth-of-type(10) {
    left: 59%;
    width: 15%;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    animation-name: imga2;
    animation-duration: 2s;
}
.photos-container img:nth-of-type(11) {
    left: 59%;
    width: 20%;
    top: 55%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    animation-name: imga2;
    animation-duration: 2s;
}
.photos-container img:nth-of-type(12) {
    left: 59%;
    width: 15%;
    top: 80%;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    animation-name: imga2;
    animation-duration: 2s;
}
.photos-container img:nth-of-type(13) {
    left: 76%;
    width: 15%;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    animation-name: imga3;
    animation-duration: 2s;
}
.photos-container img:nth-of-type(14) {
    left: 76%;
    width: 15%;
    top: 50%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    animation-name: imga3;
    animation-duration: 2s;
}

.photos-container img:nth-of-type(15) {
    left: 76%;
    width: 15%;
    top: 80%;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    animation-name: imga3;
    animation-duration: 2s;
}

.photos-container img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 15;
}

#footer{
            width: 100%;
        }

        #copyright{
            height: 5vw;
            width: 100%;
            position: absolute;
            top: 118%;
            background-color: rgba(30, 28, 28, 0.9);
            left: 0%;
        }
        #footer p{
            color: white;
            position: absolute;
            top: 10%;
            left: 40%;
            font-size: 1vw;
            text-align: center;
        }