body{
	background-color: black;
	color: white;
	font-family: arial;
	overflow-x: hidden;
	 animation-name: fade;
 animation-duration: 2s; 
}

@keyframes fade{
	from{opacity: 0}
	to{opacity: 1}
}
#nav{
	width: 80%;
	background-color: black;
	position: fixed;
	top: 4%;
	height: 10%;
	left: 10%;
	display: inline-block;
	z-index: 1;
	   animation-name: navap;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes navap{
    0%{display: inline-block;}
    50%{display: inline-block;opacity: 0.2}
    100%{display: inline-block; opacity: 0.8}
}
#nav ul{
	position: absolute;
	left: 12%;
	top: 20%;	
}
#nav ul li{
	display: inline;
	color: white;
	font-size: 1.5vw;
	width: auto;
	padding: 1vw;
	margin-right: 3vw;
	font-weight: bold;
	transition: background-color 1s;
}
#nav ul li:hover{
	background-color: grey;
}
#nav ul li a{
	text-decoration: none;
	color: white;
	outline: none;
}

#football{ 
	width: 100%;
	position: absolute;
	top: 35%;
	height: 60%;
	animation-name: h1a;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

h1 {
	background-color: orange;
}


h1:hover{
	background-color: grey;
}

#football h1{
	font-family: serif; 	
	width: 15%;
	text-align: center;
	padding: 1.5vw;
	font-size: 2vw; 
	vertical-align: center;
	position: absolute;
	left: 42.5%;
}

#football p{
	font-size: 1.5vw;
	text-align: center;
	position: absolute;
	top: 32%;
	left: 10%;
	width: 50%;
}

#ronaldo {
	width: 30%;
	position: absolute;
	top: 38%;
	left: 65%;
}

#ronaldo img{
	width: 100%;
}



#youtubers{
	width: 100%;
	position: absolute;
	top: 120%;
	height: 60%;
}

#youtubers h1{
	text-align: center;
	font-size: 2vw;
	padding: 1.5vw;
	width: 15%;
	font-family: serif;
	position: absolute;
	left: 42.5%;
}

#youtubers h1 a{
	text-decoration: none;
	color: white;
}

#youtubers p{
	text-align: center;
	font-size: 1.5vw;
	position: absolute;
	top: 30%;
	left: 40%;
}


#igyaan{
	width: 10%;
	position: absolute;
	top: 55%;
	left: 25%;
}

#igyaan img{
	width: 100%;
	border-radius: 60%;
}

#aib{
	width: 10%;
	position: absolute;
	top: 55%;
	left: 46%;	
}
#aib img{
	width: 100%;
	border-radius: 60%;
}
#bb{
	width: 10%;
	position: absolute;
	top: 55%;
	left: 67%;
}
#bb img{
	width: 100%;
	border-radius: 60%;
}

.movies{
	width: 100%;
	position: absolute;
	top: 220%;
	height: 80%;
}

.movies h1{
	text-align: center;
	font-size: 2vw;
	padding: 1.5vw;
	font-family: serif;
	width: 30%;
	position: absolute;
	left: 35%;
}

.movies p{
	text-align: center;
	font-size: 1.5vw;
	position: absolute;
	top: 20%;
	left: 14%;	
}

.movies div{
	width: 15%;
}

.movies div img{
	width: 100%;
}

#supernatural{
	position: absolute;
	top: 40%;
	left: 8%;
	width: 18%;
}

#friends{
	position: absolute;
	top: 70%;
	left: 8%;
	width: 18%;
}

#sherlock{
	position: absolute;
	top: 40%;
	left: 32%;
}

#marvel{
	position: absolute;
	top: 40%;
	left: 54%;
}	

#dc{
	position: absolute;
	top: 58%;
	left: 54%;
}

#shaw{
	position: absolute;
	top: 40%;
	left: 76%;
}

#nav0{
}

#nav1{
	position: absolute;
	top: 90%;
}
#nav2{
	position: absolute;
	top: 200%;
}

#footer{
			width: 100%;
		}

		#copyright{
			height: 5vw;
			width: 100%;
			position: absolute;
			top: 320%;
			background-color: rgba(30, 28, 28, 0.9);
			left: 0%;
		}
		#footer p{
			color: white;
			position: absolute;
			top: 10%;
			left: 40%;
			font-size: 1vw;
			text-align: center;
		}